.login-container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-subcontainer {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  width: 100%;
  height: 100%;
}

.login-form {
  max-width: 400px;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.login-form h2 {
  color: #2a9d8f;
}

.login-form input,
.login-form button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
}

.login-form input {
  border: 1px solid #ccc;
}

.login-form button {
  background-color: #2a9d8f;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form button:hover {
  background-color: #21867a;
}

.header {
  display: flex;
  width: 100%;
  margin: 1rem;
  justify-content: left;
  gap: 1.5rem;
  align-items: center;
  height: 100%;
}

.header h2 {
  color: #ccc;
}

.header button {
  background: transparent;
  border: 0;
  border-radius: 8px;
  color: #fff;
  display: flex;
  font-size: 18px;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
  height: 100%;
}

.header button span {
  background-color: #111;
  padding: 16px 24px;
  border-radius: 6px;
  transition: 0.3s;
}

.header button:hover span {
  background-color: transparent;
}

.header button:active {
  transform: scale(0.9);
}

.panel__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 3rem;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.left-panel {
  background-color: #fff;
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.right-panel {
  
  display: grid;
  grid-template-rows: 40% 60%;
  gap: 1rem;
  
  width: 100%;
  height: 100%;
}



.chat-panel,
.calendar-panel {
  padding: 1rem;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  height: 100%;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
}

.user-container {
  background: url(../../assets/img/dunas.jpg) center/cover no-repeat;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;
}

/* Estilos responsivos para dispositivos móviles */
@media (max-width: 768px) {
  .login-form {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    gap: 8px;
    height: 100%;
  }

  .login-form h2 {
    font-size: 1.5rem;
  }

  .login-form input,
  .login-form button {
    font-size: 14px;
    padding: 8px;
    width: 100%;
  }

  .header {
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    height: 100%;
  }

  .header h2 {
    font-size: clamp(1rem, 1vw, 2rem);
  }

  .header button {
    font-size: 14px;
    padding: 8px;
    height: 100%;
  }

  .header button span {
    padding: 10px 16px;
  }

  .panel__container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    height: 100%;
  }
}
